UseDNS no
PermitRootLogin no
Subsystem sftp internal-sftp
ChrootDirectory /data
X11Forwarding no
AllowTcpForwarding no
SyslogFacility AUTH
LogLevel DEBUG
ForceCommand internal-sftp
AuthorizedKeysFile /data/.ssh/authorized_keys
MaxStartups 200
