UseDNS no
PermitRootLogin no
Subsystem sftp internal-sftp
ChrootDirectory /mnt
X11Forwarding no
AllowTcpForwarding no
SyslogFacility AUTH
ForceCommand internal-sftp
AuthorizedKeysFile /data/.ssh/authorized_keys
LogLevel VERBOSE
